  body{
    font-family: "Roboto";
  }
  .hero-uiux {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
  background: linear-gradient(120deg, #f9f9f9, #f1f3f5);
  flex-wrap: wrap;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  color: #212121;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-text p {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 35px;
  line-height: 1.6;
}

.hero-btn {
  padding: 14px 36px;
  background-color: #4f46e5;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #4338ca;
}

.hero-img img {
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* card-section */
.card-section {
  padding: 10px 60px 80px 80px;
  background-color: #7b828a;;
  text-align: center;
}

.card-heading {
  font-size: 36px;
  margin-bottom: 40px;
  color: #111827;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #1f2937;
}

.card p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.5;
}
